@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&display=swap');

*{
    font-family: 'Inter', sans-serif !important;
    color: #fff;
    margin: 0;
    padding: 0;
}

.grow {
    flex-grow: 1;
}

.banner{
    color: white;
    font-size: 2rem !important;
    font-weight: 700 !important;
    /* margin-left: 43px !important; */
}

.MuiToolbar-gutters{
    padding: 0 !important;
    padding-left: 43px !important;
    padding-right: 43px !important;
}

.footer{
    text-align: center !important;
    position: fixed;
    bottom: 0;
    width: 100%;
}

.userName{
    font-weight: 700 ;
}


.children{
  min-height: 100vh;
  margin-left: 43px;
  margin-right: 43px;
}

.rideOptions{
    text-transform: none;
}


   
